<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>TPA DDS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />

  </head>
  <body>
    <!-- navbar -->
    <div class="container-fluid">

    <div class="row">
    <nav class="navbar" style="padding: 20px;">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="/images/logo.png" alt=""></i>TPA DDS
      </div>

     

      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="/images/utn.png" alt="" class="profile" />
      </div>
    </nav>
</div>
    <!-- sidebar -->
    <div class="row" style="height: 100vw;">
    <nav class="sidebar col-2">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title menu_dahsboard"></div>
          <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink">Incidentes</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
                    <a href="/aperturaIncidentes" class="nav_link sublink">Apertura de Incidentes</a>
                    <a href="/cierreIncidentes" class="nav_link sublink">Cierre de Incidentes</a>
                    <a href="/listadoIncidentes" class="nav_link sublink">Listado de Incidentes</a>
                    <a href="/cargaDeEntidades" class="nav_link sublink">Sugerencia de Revisión</a>
                    <a href="/visualizacionRankings" class="nav_link sublink">Visualización de Rankings</a>
                    <a href="/cargaDeEntidadesOrg" class="nav_link sublink">Carga entidades</a>
            </ul>
          </li>
          <!-- end -->

          <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bxs-magic-wand"></i>
              </span>
              <span class="navlink">Usuarios</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="#" class="nav_link sublink">Administración de Usuarios</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
            </ul>
          </li>
          <!-- end -->
        </ul>


        
        <!-- Sidebar Open / Close -->
        <div class="bottom_content" >
          <div class="bottom expand_sidebar">
            <span> Expand</span>
            <i class='bx bx-log-in' ></i>
          </div>
          <div class="bottom collapse_sidebar">
            <span> Collapse</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>
    </nav>



<div class="body-content col-10" style="margin-left: 20%;">
    <br>
    <h3 class="mb-5">Cierre de Incidentes</h3>
    {{#if exitoMensaje}}
        <div class="mb-5 exito-mensaje">{{exitoMensaje}}</div>
    {{/if}}

    {{#if errorMensaje}}
        <div class="error-mensaje">{{errorMensaje}}</div>
    {{/if}}

    <form method="POST" action="/cierreIncidentes">
        <div class="form-outline mb-4">
            <label class="form-label" for="typeEmailX-2">ID</label>
            <input name = "id_incidente" style="width: auto;" type="text" id="typeEmailX-2" class="form-control form-control-lg" />
        </div>


        <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
    </form>
</div>
</div>
</div>
    <!-- JavaScript -->
    <script src="/js/script.js"></script>
  </body>
</html>
